@import 'tailwindcss';
@plugin "daisyui";

* {
  scroll-behavior: smooth;
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(2, start) infinite;
  color: white;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
